body{
background-color:#000;
}
canvas{
position:absolute;
left:50px;
top:0px;
}
a{
color:#c0c0ff;
}
a:active{
color:#e0e0ff;
}
a:visited {
color:#a6a6ed;
}
.w{
background-color:#222;
width:10px;
height:10px;
border: 2px solid #000;
margin:4px 2px;
display:inline;
float:left;
}
.leftside{
background-color:#222;
width:50px;
height:14px;
padding: 2px;
display:inline;
float:left;
}
.bg0{
display:block;
float:left;
}
.bg1{
background-color:#833;
display:block;
float:left;
}
.bg2{
background-color:#552;
}
.bg3{
background-color:#252;
}
.cl{
clear: both;
}
.disp{
position:absolute;
height:400px;
width:310px;
background-color:#111;
color:#ddd;
left:1240px;
top:50px;
padding:10px;
}
.ab{
position:absolute;
height:24px;
width:300px;
background-color:#999;
left:75px;
}
.abalt{
position:absolute;
height:24px;
width:300px;
background-color:#999;
}
.ab:nth-child(odd){
background-color:#aaa;
}
.mo{
position:absolute;
background-color:#77d;
left:25px;
width:25px;
}
.mo:nth-child(odd) {
background-color:#7bd;
}
.yr{
position:absolute;
background-color:#7d7;
left:0px;
width:25px;
}
.tfour{
position:absolute;
background-color:#888;
top:0px;
left:375px;
width:2px;
height:576px
}
.sevenish{
position:absolute;
background-color:#aaa;
top:0px;
left:77px;
width:3px;
height:120px;
}
.dn{
position:absolute;
left:50px;
width:25px;
background-image: url('data:image/gif;base64,R0lGODlhAQAFAIABAFdXV////yH5BAEAAAEALAAAAAABAAUAAAIDBIIFADs=');
background-repeat: repeat-x;
text-align:center;
}
